
<hgroup class="title">
    <h2>@ViewRes.HomeStrings.AboutMessage</h2>
</hgroup>

<article>
    <p>
    @ViewRes.HomeStrings.AboutContent
    </p>
</article>

<aside>
    <h3>Wander around IndiTown</h3>
    <p>
        We need to add links to IndiTown blog, news items, etc.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>