@using System.ComponentModel.DataAnnotations
@using System.Web.UI.WebControls
@*@{
    ViewBag.Title = "Looking for something?";
    ViewBag.Message = "Discover your neighbourhood with us.";
}*@
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewRes.HomeStrings.IndexTitle</h1>
                <h2>@ViewRes.HomeStrings.IndexMessage</h2>
            </hgroup>
        </div>
    </section>
}
@using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-wrapper cf" }))
{   
    @Html.DropDownList("category", new SelectList(Enum.GetValues(typeof(Interfaces.DataContracts.BusinessType)), Interfaces.DataContracts.BusinessType.Unknown))
    @Html.TextBox("searchstring", "", new { placeholder = @ViewRes.HomeStrings.EnterYourSearch })
    <button type="submit">@Html.Label(@ViewRes.HomeStrings.Search)</button>
}
